<?xml version="1.0"?>
<launch>
  
  <arg name="fps" default="32"/>
  <arg name="CAM" default="4"/>
  <arg name="camera_parameter_ns" default="config"/>

  <node type="genicam_node" name="genicam_cam$(arg CAM)" pkg="cvb" respawn="false" output="screen">
    <param name="driverpath" value="$(find cvb)/driver/IPX-1M48-VC_$(arg CAM).ini" />
    <param name="expected_fps" value="$(arg fps)" /> 
    <param name="stream_counter_rst" value="1" />
    <param name="topic" value="cam" />
    <param name="frame" value="cam$(arg CAM)" />
    <param name="gstreamer_sink_for_storage" value="shmsink socket-path=/tmp/cam/$(arg CAM)_store sync=true wait-for-connection=false shm-size=10000000" />
    <param name="color_channels_src" value="1" />
    <param name="color_channels_dst" value="1" />
    <param name="mono_as_bayer" value="0" />
    <param name="camera_parameter_ns" value="$(arg camera_parameter_ns)" />
    <rosparam ns="$(arg camera_parameter_ns)">
      PixelFormat: '17301505'
      AcquisitionFrameRateAbs: '32'
      GainAbs: '10'
      ReverseX: '0'
      NoiseCorrection: '0'
      DefectCorrection: '0'
      NegativeImage: '0'
      ExposureMode: '1'
      ExposureTimeRaw: '20890'
      Width: '1000'
      Height: '1000'
    </rosparam>
  </node>
  
</launch>
